*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
}

.body{
    /* border: 1px solid black; */
    height: 100vh;
    position: relative;
    text-align: center;
    font-size: 3em;
    padding: 10px;
}

.colorbox{
    /* border: 1px solid #000; */
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.colorbox button{
    padding: 15px 22px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 5px #000;
    font-weight: bold;
}

.red{
    background: red;
}

.green{
    background: green;
}

.yellow{
    background: yellow;
}

.purple{
    background: purple;
}

.default{
    background: white;
}